extends /layout.pug

block content
  #container
    img#profile-image(
      src="/images/keith-wickramasekara.jpg",
      alt="Keith Wickramasekara"
    )

    h1#title Keith Wickramasekara
    h2#subtitle Software Engineer &amp; Photographer

    #description
      p Hi, I&apos;m a Dallas, Texas based software engineer graduated from University of North Texas. Currently working in FinTech focused on building beautiful, efficient and functional web experiences. I also love to travel and document the scenic beauty of this amazing planet we call home.

      p Click the links below to see some of my work. Feel free to get in touch if you need a website or would like to purchase photo prints.

    hr#divider

    ul#links 
      li
        a.link(href="") Blog
      li
        a.link(href="") Photos
      li
        a.link(href="") Github
      li
        a.link(href="") LinkedIn
      li
        a.link(href="") Twitter
