extends /layout.pug

block content
  #container
    img#profile-image(
      src="/images/keith-wickramasekara.jpg",
      alt="Keith Wickramasekara"
    )

    h1#title Keith Wickramasekara
    h2#subtitle Software Engineer &amp; Photographer

    #description
      p Hi, I&apos;m a Dallas, Texas based software engineer graduated from University of North Texas. Currently working in FinTech focused on building beautiful, efficient and functional web experiences. I also love to travel and document the scenic beauty of this amazing planet in my spare time.

      p Click the links below to see some of my work and feel free to contact me via any of the social media channels.

    hr#divider

    ul#links 
      li
        a.link(href="https://blog.keithw.me") Blog
      li
        a.link(href="https://photos.keithw.me") Photos
      li
        a.link(href="https://github.com/kwickramasekara") Github
      li
        a.link(href="https://www.linkedin.com/in/kwickramasekara") LinkedIn
      li
        a.link(href="https://twitter.com/keith_m_w") Twitter
