extends /layout.pug

block content
  #container
    img#profile-image(
      src="/images/keith-wickramasekara.jpg",
      alt="Keith Wickramasekara"
    )

    h1#title Keith Wickramasekara
    h2#subtitle Software Engineer &amp; Photographer

    #description
      p Hi, I&apos;m a Dallas, Texas based software engineer graduated from
        |
        |
        a.link(href="https://www.unt.edu", target="_blank") University of North Texas
        | . Currently working at
        |
        a.link(href="https://gmfinancial.com", target="_blank") GM Financial
        |
        | focused on building beautiful, efficient and functional web experiences. I also love to travel and document the scenic beauty of this tiny planet in my spare time.

      p Click the links below to see some of my work. Feel free to get in touch if you need a website or would like to purchase photo prints.
